<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <!-- custom css link-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- boxicons css link-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- remixicons css link-->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <!--google fonts links-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Fund Manager{% endblock %}</title>
</head>
<body>
    <header>
        <a href="#" class="logo">SC</a>
        <!-- <h1>Welcome to the Manage Pesa App</h1> -->
        <ul class="navlist">
        {% if user.is_authenticated %}
           <li><a href="{% url 'dashboard' %}">dashboard</a></li>
           <li><a href="{% url 'help_page' %}" class="btn btn-info">Help</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        </ul>
        <div class="bx bx-menu" id="menu-icon"></div>
    </header> 
        {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </p>
        {% endfor %}
        </div>
        {% endif %}
        
    
    {% block content %}{% endblock %}

    
    <!--logout button-->
    <div class="logout">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
         
<!--link icons-->
    <div class="icons">
        <a href="#"> <i class="ri-instagram-line"></i></a>
        <a href="#"> <i class="ri-twitter-x-line"></i></a>
        <a href="#"> <i class="ri-linkedin-fill"></i></a>
        <a href="#"> <i class="ri-google-fill"></i></a>
    </div>
<!--scroll down button-->
    <div class="scroll-down">
        <a href="#"><i class="ri-arrow-down-s-fill"></i></a>
    </div>
    <!--custom script-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/script.js"></script>
</body>
<footer class="footer">
    <p>&copy; 2025 Fund Manager</p>
    <p>Powered by: Stewart & Co.</p>
    <p>version 1.0</p>
</footer>
</html>
