{% extends 'contributions/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="hero">
    <!--Left Section-->
    <div class="hero-text">
        <h2>Welcome, {{ user.username }}</h2>
        <p>Manage your group funds with ease. Check out your groups or join new ones!</p>


    <h1>Dashboard</h1>

<!--buttons for group actions-->
    
        <a href="{% url 'create_group' %}">Create Group</a>
        <a href="{% url 'join_group' %}" class="ctaa">Join Group</a>

    <h4>Your Groups</h4>
    {% if groups %}
            {% for group in groups %}
            <li class="group-items">
                <a href="{% url 'group_detail' group.id %}">{{ group.name }}</a> 

                {% if group.admin == user %}
                <span class="badge">(Admin)</span>
                {% endif %}
                {% for payout in next_payouts %}
                    {% if payout.group == group %}
                    <p>Next Payout: {{ payout.recipient }} on {{ payout.payout_date }}</p>
                    {% endif %}
                {% endfor %}
            </li>
            {% endfor %}
       
{% else %}
    <p>You are not part of any groups yet.</p>
    
{% endif %}
        </div>
    </div>
    
    </div>


<!--right section-->


</section>

<!-- Create Group Section -->
<!-- <h2>Create a New Group</h2>
<form method="post" action="{% url 'create_group' %}">
    {% csrf_token %}
    {{ group_form.as_p }}
    <button type="submit">Create Group</button>
</form> -->

<!-- Join Group Section -->
<!-- <h2>Join an Existing Group</h2>
<form method="post" action="{% url 'join_group' %}">
    {% csrf_token %}
    <label for="group_code">Enter Join Code:</label>
    <input type="text" name="group_code" title="Group Code" placeholder="Enter Group Code" required>
    <button type="submit">Join Group</button>
</form> -->


{% endblock %}
