{% extends 'contributions/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Welcome, {{ user.username }}</h1>

<h1>Dashboard</h1>

<div>
    <a href="{% url 'create_group' %}" class="btn btn-primary">Create Group</a>
    <a href="{% url 'join_group' %}" class="btn btn-secondary">Join Group</a>
</div>

<hr>

<h2>Your Groups</h2>
{% if groups %}
    <ul>
        {% for group in groups %}
        <li>
            <a href="{% url 'group_detail' group.id %}">{{ group.name }}</a> 
            {% if group.admin == user %}
                (Admin)
            {% endif %}
            
            {% for payout in next_payouts %}
                {% if payout.group == group %}
                    <p>Next Payout: {{ payout.recipient }} on {{ payout.payout_date }}</p>
                {% endif %}
            {% endfor %}
            <
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not part of any groups yet.</p>
{% endif %}

<!-- Create Group Section -->
<!-- <h2>Create a New Group</h2>
<form method="post" action="{% url 'create_group' %}">
    {% csrf_token %}
    {{ group_form.as_p }}
    <button type="submit">Create Group</button>
</form> -->

<!-- Join Group Section -->
<!-- <h2>Join an Existing Group</h2>
<form method="post" action="{% url 'join_group' %}">
    {% csrf_token %}
    <label for="group_code">Enter Join Code:</label>
    <input type="text" name="group_code" title="Group Code" placeholder="Enter Group Code" required>
    <button type="submit">Join Group</button>
</form> -->


{% endblock %}
