{% extends 'contributions/base.html' %}

{% block title %}{{ group.name }} Details{% endblock %}

{% block content %}
<h1>{{ group.name }} Details</h1>
<p>Admin: {{ group.admin.username }}</p>
<p>Weekly Contribution: Ksh {{ group.weekly_contribution }}</p>
<p>Total Group Balance: Ksh {{ total_balance }}</p>


<form method="post" action="{% url 'contribute' %}">
    {% csrf_token %}
    <input type="hidden" name="group_id" value="{{ group.id }}">
    <input type="number" name="amount" placeholder="Amount to contribute">
    <button type="submit">Contribute</button>
</form>

<h2>Contribution History</h2>

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for contribution in contributions %}
        <tr>
            <td>{{ contribution.member.username }}</td>
            <td>KES {{ contribution.amount }}</td>
            <td>{{ contribution.contribution_date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No contributions yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><strong>Next Payout:</strong></p>
<ul>
    <li>Member: {{ next_member.username }}</li>
    <li>Date: {{ next_payout_date|date:"D, d M Y, h:i A" }}</li>
    <li>Amount: {{ total_balance|floatformat:2 }}</li>
</ul>

<hr>

<h2>Members</h2>
<ul>
    {% for member in group.members.all %}
        <li>{{ member.username }}</li>
    {% endfor %}
</ul>

{% if user == group.admin %}
    <h2>Manage Members</h2>
    <form method="post" action="{% url 'group_detail' group.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="manage_member">Submit</button>
    </form>

    <!-- <h2>Generate Join Code</h2>
    <form method="post" action="{% url 'group_detail' group.id %}">
        {% csrf_token %}
        <button type="submit" name="generate_code">Generate Code</button>
    </form> -->

    {% if group.join_code %}
        <p>Join Code: <strong>{{ group.join_code }}</strong></p>
    {% endif %}
{% endif %}

<a href="{% url 'dashboard' %}">Back to Dashboard</a>
{% endblock %}
